/* General styling */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: salmon;
}

/* Sliders styling */
.top-sliders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 10px;
}

label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 80%;
}

span {
    margin-top: 5px;
    font-size: 0.9em;
}

/* Map styling */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#map {
    display: grid;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1;
    /* Keep square aspect ratio */
    grid-template-columns: repeat(20, 1fr);
    /* 20 columns */
    grid-template-rows: repeat(20, 1fr);
    /* 20 rows */
}

.cell {
    width: 100%;
    height: 100%;
}

.food-zone {
    background-color: green;
}

.water-zone {
    background-color: blue;
}

.waste-zone {
    background-color: brown;
}

.landscape {
    background-color: #587B7f;
}

/* Health bar */
.health-bar-container {
    padding: 15px;
}

#healthBar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border: 1px solid #bbb;
}

#healthFill {
    height: 100%;
    background-color: green;
    width: 50%;
}

/* Resource Controls */
.resource-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource button {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.resource label {
    font-weight: bold;
    margin-bottom: 5px;
}

.resource input[type="range"] {
    width: 100%;
}

.resource button {
    padding: 5px 10px;
}

/* Ant styling */
.ant {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute; /* used for movement with translate function */
    border-radius: 50%;
    z-index: 2; /* places the ant on top of the css/html map. */
}